.card{
 text-align: center;
 background-color: rgb(255, 255, 255);
}
.card-header{
 background-color: rgb(42, 42, 242);
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: self-end;
}
button{
  border: none;
  padding: 6px 15px;
  margin: 8px;
  border-radius: 5px;
  background-color: white;
  color: rgb(42, 42, 242);
  cursor: pointer;
  transition: all 0.4 ease;
}
button:hover{
  background-color: transparent;
  border: 1px solid white;
  color: white;
  box-shadow:5px 5px 10px rgba(0, 0, 0, 0.677);
  transform: translateY(-1px);
}
button:active{
  box-shadow: none;
  transform: translateY(1px);
}
img{
  width: 100px;
  height: auto;
  margin-top: -65px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  transition: all 0.3s ease;
}
img:hover{
 box-shadow: 1px 1px 15px rgb(5, 5, 125);
 transform: translateY(-2px);
}
h1{
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.7rem;
  color:  rgb(1, 1, 80);
}
.location{
  margin: 0px;
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.stats{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 30px ;
  border-top: 2px solid rgb(42, 42, 242);
  margin: 0;
}
.stats-number{
 margin: 0px;
 margin-bottom: 6px;
 font-size: 1.4rem;
 font-weight: 700;
  color: rgb(1, 1, 80);
}
span{
  color: rgb(97, 97, 233);
}
.stats-label{
  margin: 0px;
  font-size: 1rem;
}
.stats-label:hover{
 text-decoration: blue underline;
}

@media(max-width:500px){
  h1{
    font-size: 1.5rem;
  }
  .numbers{
    font-size: 1.2rem;
  }
}
